/* font */

.font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  margin: 16px 120px;
}

/* navbar style started */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navs {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

/* button */

.btn {
  background-color: #469165;
  color: white;
  width: 164px;
  height: 44px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}
.btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px;
}

.navs li a {
  text-decoration: none;
  color: black;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}

.navs li {
  list-style: none;
}

.nav-logo {
  width: 139px;
  height: 60px;
}

/* navbar style  */

/* Hero Section Started */

.hero-content {
  min-height: 100vh;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.color-hero-title {
  color: #30b868;
}

.hero-description {
  color: rgba(255, 255, 255, 1);
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.f-btn {
  width: 251px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.s-btn {
  width: 198px;
  height: 52px;
  display: flex;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.s-btn:hover {
  background-color: #30b868;
}

/* hero section ended */

/* Nots dont fail section started */

.notes-dont-fail-title {
  text-align: center;
  margin: 32px 0;
}

.notes-dont-fail-title h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin-bottom: 16px;
}

.notes-dont-fail-title p {
  color: #627382;
  font-size: 16px;
}

.card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 120px;
}

.card {
  width: 322px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.card img {
  width: 60px;
  height: 60px;
  padding: 8px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
}

.card h3 {
  font-style: Semi Bold;
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.card p {
  color: #627382;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Nots dont fail section ended */

/* your second brain section started */

.your-second-brain-container {
  padding: 120px;
  margin: 0 120px;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.brain-logo {
  width: 600px;
  height: 600px;
}

.top-p {
  color: #30b868;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.your-second-brain-content h2 {
  color: #001931;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.your-second-brain-content .d-p{
    color: #627382;
    margin-bottom: 40px;
}

.points-p{
    font-weight: 500;
    color: black;
    display: flex;
    gap: 6px;
}
/* your second brain section edded */